/* ==== GLOBAL ====== */
:root {
  --dark-blue: #363f5f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 93.75%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  margin: auto;
  width: min(90vw, 800px);
}

/* ==== LINKS AND BUTTONS ====== */
a {
  color: #49aa26;
  text-decoration: none;
}

a:hover {
  color: #3dd705;
}
.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

button {
  width: 100%;
  height: 50px;
  background-color: #12a566;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.button.cancel {
  width: 100%;
  height: 50px;
  background: #fff;
  color: #eb4038;
  border: 2px solid #eb4038;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  opacity: 0.7;
  transition: 0.3s;
}

.button.cancel:hover {
  opacity: 1;
}

button:hover {
  background: #12a545;
}
/* ==== TITLES ====== */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}

/* ==== HEADER ====== */
header {
  background: #3fb8af;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #3c4852;
  font-weight: 100;
}

/* ==== BALANCE ====== */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
  font-weight: normal;
}

/* ==== CARDS ====== */
.card {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
}

.card.total {
  background: #39c46c;
  color: #fff;
}

/* ==== TRANSACTION ====== */
#transaction {
  display: block;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem;
}

table th {
  background: white;
  font-weight: normal;
  text-align: left;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

table tbody tr {
  opacity: 0.7;
}

table tr:hover {
  opacity: 1;
}

table td {
  background: #fff;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

td.description {
  color: var(--dark-blue);
}

td.expense {
  color: #eb4038;
}

td.income {
  color: #12a545;
}

/* ==== MODAL ====== */
.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  position: relative;
  border-radius: 0.8rem;
}

/* ==== FORM ====== */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
/* ==== FOOTER ====== */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

/* ==== RESPONSIVE ====== */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: -4rem;
  }
}
